

<div class="container">



<body>

<div class="row mt-4">


<table class="table table-hover tablesorter" id="myTable">
              <thead class="thead-light">
                <tr>
                    
                  <th scope="col">Account</th>
									<th scope="col">Balance</th>
									<th scope="col">Transaction</th>
                  <th scope="col">Amount</th>
                	<th scope="col"></th>          
                </tr>
              </thead>
              <tbody class="info table-hover">

  {{#each Accounts}}
  	<tr class="tableRow" data-id="{{this.account_id}}">

			<td> {{this.account_desc}}  </td>
			<td> {{this.account_balance}} </td>
			<td> Deposit or WD Drop </td>
      <td> <input type="text" id="amt" placeholder="trx_amt"> </td>
      <td> <button onclick="location.href = './test/routes/{{this.account_id}}'" data-id="{{this.Patient_Id}}" class="newVisit float-right ">Proceed</button> </td>
  	</tr>
  {{/each}}
              
              </tbody>
            </table>
         
</div>



</body>
</div>


